@import "src/colorVariables";
@import "src/mediaQueries";

.create__post-container,
.create__post-form {
  display: flex;
  flex-direction: column;
}

.create__post-container {
  box-shadow: $medium-box-shadow;
  padding: 1rem;
  background-color: $orange;
}

.create__post-header {
  font-size: 2rem;
  color: $white;
  font-family: futuraHeavy;

  @media (max-width: $breakpoint-mobile) {
    font-size: 1.5rem;
  }
}

.create__post-form {
  & > textarea {
    margin: 1rem 0;
    height: 5rem;
    resize: none;
    padding: 0.5rem;

    &:focus {
      outline: none;
    }
  }

  & > input {
    margin-bottom: 1rem;
  }

  & > label {
    color: $white;
    margin-bottom: 1rem;
  }

  & > button {
    font-size: 1.75rem;
    background-color: $dark-grey;
    color: $white;
    padding: 0.5rem 0;

    &:hover {
      background-color: $light-gray;
    }

    @media (max-width: $breakpoint-mobile) {
      font-size: 1.25rem;
    }
  }
}
