@import "src/colorVariables";
@import "../../../bootstrap.css";
@import "src/mediaQueries";

.post__item__card {
  margin: 3rem 0;
  max-width: 100%;
}

.post__user__card-img {
  height: 3rem;
}

.post__item__card-img {
  max-height: 400px;
  max-width: 400px;
  border: 4px solid $blue;
  border-radius: 20px;

  @media (max-width: $breakpoint-mobile) {
    max-width: 90%;
  }
}

.post__item__card {
  margin: 2rem 0;
  border: 2px solid $blue;
  box-shadow: $medium-box-shadow;
}

.post__item__card-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid $blue;

  & > h3,
  & > p {
    margin-bottom: 0;
    margin-left: 1rem;
  }
}

.post__item__card__content-container {
  padding: 1rem;
  & > p {
    font-size: 1rem;
    margin: 0;
    margin-left: 1rem;

    @media (max-width: $breakpoint-mobile) {
      text-align: center;
      margin: 0;
      margin-bottom: 1rem;
    }
  }

  @media (max-width: $breakpoint-mobile) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.post__item__card__reaction-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid $blue;
  // margin-bottom: 1rem;
  & > p {
    margin-bottom: 0;
  }
}

.post__item__card__reaction__comments {
  margin-left: auto;
}
