<div class="post__item-container">
  <div class="post__item__card">
    <div class="post__item__card-header">
      <img
        class="post__user__card-img"
        src="assets/Img/Users/user-solid-blue.png"
        alt=""
      />
      <div class="post__item__card__content-container">
        <p>{{ post?.postContent }}</p>
        <img src="{{ post?.imageUrl }}" class="post_item_card-img shadow" />
      </div>
    </div>
    <div class="d-flex ms-auto">
      <button class="btn btn-sm"><i class="fas fa-thumbs-up"></i></button>
      <button class="btn btn-sm"><i class="fas fa-thumbs-down"></i></button>
    </div>
    <hr />
    <app-create-comment
      (onAddComment)="addComment($event)"
    ></app-create-comment>
    <div *ngFor="let comment of comments">
      <app-comments
        [comment]="comment"
        [post]="post"
        *ngIf="comment.feedId === post.feedId"
      ></app-comments>
    </div>
  </div>
</div>
