<div class="post__item-container">
  <div class="post__item__card">
    <div class="post__item__card-header">
      <img
        class="post__user__card-img user-img"
        src="assets/Img/Users/user-solid-blue.png"
        alt=""
      />
      <h3 class="post__user__name">User</h3>
      <p>{{ post?.postDate }}</p>
    </div>
    <div class="post__item__card__content-container">
      <p>{{ post?.postContent }}</p>
      <img src="{{ post?.imageUrl }}" class="post__item__card-img" />
    </div>

    <div class="post__item__card__reaction-container">
      <button class="post__item__card__reaction-btn reaction-btn thumbs__up">
        <i class="fas fa-thumbs-up"></i>
      </button>
      <p class="post__item__card__reaction__likes">0</p>
      <button class="post__item__card__reaction-btn reaction-btn thumbs__down">
        <i class="fas fa-thumbs-down"></i>
      </button>
      <p class="post__item__card__reaction__dislikes">0</p>
      <p class="post__item__card__reaction__comments">0 Comments</p>
    </div>

    <app-create-comment
      (onAddComment)="addComment($event)"
    ></app-create-comment>
    <div *ngFor="let comment of comments">
      <app-comments
        [comment]="comment"
        [post]="post"
        *ngIf="comment.feedId === post.feedId"
      ></app-comments>
    </div>
  </div>
</div>
