<div class="header-container">
  <header class="header">
    <img src="assets/Img/Logo/rev-logo.png" alt="" />
    <div class="header__search-container">
      <form class="header__search__form" action="">
        <input type="text" placeholder="Search MyRev" />
        <button type="submit"><i class="fas fa-search"></i></button>
      </form>
    </div>
    <h1 class="header__text">MyRev</h1>

    <div class="hamburger-container">
      <div class="hamburger-top"></div>
      <div class="hamburger-middle"></div>
      <div class="hamburger-bottom"></div>
    </div>
  </header>
</div>
