<h3>Update Profile</h3>
<div style="width: 400px;">
  
  <form (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="name">User Name</label>
      <input type="text" class="form-control" id="userName" required [(ngModel)]="user.userName" name="userName">
    </div>

    <div class="form-group">
      <label for="name">First Name</label>
      <input type="text" class="form-control" id="firstName" required [(ngModel)]="user.firstName" name="firstName">
    </div>
  
     <div class="form-group">
      <label for="name">Middle Name</label>
      <input type="text" class="form-control" id="middleName" required [(ngModel)]="user.middleName" name="middleName">
    </div>
   
    <div class="form-group">
      <label for="name">Last Name</label>
      <input type="text" class="form-control" id="lastName" required [(ngModel)]="user.lastName" name="lastName">
    </div>
  
    <div class="form-group">
      <label for="name">Age</label>
      <input type="number" class="form-control" id="age" required [(ngModel)]="user.age" name="age">
    </div>

    <div class="form-group">
      <label for="name">Gender</label>
      <input type="text" class="form-control" id="gender" required [(ngModel)]="user.gender" name="gender">
    </div>

    <div class="form-group">
      <label for="name">Email</label>
      <input type="email" class="form-control" id="email" required [(ngModel)]="user.email" name="email">
    </div>

    

    <div class="form-group">
      <label for="name">Job Title</label>
      <input type="text" class="form-control" id="jobTitle" required [(ngModel)]="user.jobTitle" name="jobTitle">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>

  </form>
</div>
