@import "src/colorVariables";


.container {
    display: flex;
    flex-direction: column;
   
    max-height: auto;
    text-align: center;
}

.form-group {
    margin-top: 20px;
}

  label {
    color: $dark-grey;
    margin-bottom: 1rem;
    text-align: left;
  }

    button {
    font-size: 1rem;
    background-color: $dark-grey;
    color: $white;
    padding:0 1rem ;
  }

    