<div class="comments-container">
  <div class="comment__card">
    <img
      class="comment__user-img user-img"
      src="assets/Img/Users/user-solid-blue.png"
      alt=""
    />
    <div class="comment-container">
      <p>{{ comment?.postContent }}</p>
      <img src="{{ comment?.imageUrl }}" class="post__item__card-img" />

      <div class="comment__reactions-container">
        <button class="reaction-btn thumbs__up" ng-click="alert()">
          <i class="fas fa-thumbs-up"></i>
        </button>
        <span>0</span>
        <button class="reaction-btn thumbs__down">
          <i class="fas fa-thumbs-down"></i>
        </button>
        <span>0</span>
      </div>
    </div>
  </div>
</div>
