@import "src/colorVariables";
@import "../../../bootstrap.css";

.comments-container {
  padding: 0 1rem;
}

.comment__card {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1rem 0;

  & > img {
    height: 2rem;
    border: 2px solid $blue;
    border-radius: 50%;
  }

  .comment-container {
    background-color: $light-gray;
    border-radius: 5px;
    padding: 0.5rem;
    margin-left: 1rem;

    & > p {
      margin: 0;
    }
  }
}

.comment__reactions-container {
  margin-top: 0.5rem;

  & > button > i {
    font-size: 1rem;
    text-align: center;
  }
}
