@import "src/colorVariables";
@import "src/mediaQueries";

.comments-container {
  padding: 0 1rem;
}

.comment-img {
  max-width: 100%;
  max-height: 10rem;
  border: 5px solid $yellow;
  border-radius: 0.325rem;
  margin-top: 0.5rem;
}
.comment__card {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1rem 0;
}

.comment__card__user {
  text-align: center;

  & > img {
    height: 2rem;
    width: 2rem;
  }
}

.comment-container {
  & > a {
    font-family: "FuturaHeavy";
    font-size: 1.5rem;
    margin: 0;
    margin-bottom: 0.5rem;

    @media (max-width: $breakpoint-mobile) {
      font-size: 1.25rem;
    }
  }

  background-color: $light-gray;
  border-radius: 5px;
  padding: 0.5rem;
  margin-left: 1rem;

  & > p {
    margin: 0;
  }
}

.comment__reactions-container {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;

  & > p {
    margin: 0;
  }

  & > button > i {
    font-size: 1rem;
    text-align: center;
  }
}
