<h2 class="post__feed__following-header">Following</h2>
<div class="post__feed__following-users">
  <div class="post__feed__following-user">
    <div class="post__feed__following__user-header">
      <img
        class="user-img"
        src="assets/Img/Users/user-solid-blue.png"
        alt=""
        srcset=""
      />
      <h3><a href="#">User</a></h3>
    </div>

    <div class="post__feed__following__user-bio">
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo,
        nesciunt.
      </p>
    </div>
  </div>

  <div class="post__feed__following-user">
    <div class="post__feed__following__user-header">
      <img
        class="user-img"
        src="assets/Img/Users/user-solid-blue.png"
        alt=""
        srcset=""
      />
      <h3><a href="#">User</a></h3>
    </div>

    <div class="post__feed__following__user-bio">
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo,
        nesciunt.
      </p>
    </div>
  </div>
  <div class="post__feed__following-user">
    <div class="post__feed__following__user-header">
      <img
        class="user-img"
        src="assets/Img/Users/user-solid-blue.png"
        alt=""
        srcset=""
      />
      <h3><a href="#">User</a></h3>
    </div>

    <div class="post__feed__following__user-bio">
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo,
        nesciunt.
      </p>
    </div>
  </div>
  <div class="post__feed__following-user">
    <div class="post__feed__following__user-header">
      <img
        class="user-img"
        src="assets/Img/Users/user-solid-blue.png"
        alt=""
        srcset=""
      />
      <h3><a href="#">User</a></h3>
    </div>

    <div class="post__feed__following__user-bio">
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo,
        nesciunt.
      </p>
    </div>
  </div>
  <div class="post__feed__following-user">
    <div class="post__feed__following__user-header">
      <img
        class="user-img"
        src="assets/Img/Users/user-solid-blue.png"
        alt=""
        srcset=""
      />
      <h3><a href="#">User</a></h3>
    </div>

    <div class="post__feed__following__user-bio">
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo,
        nesciunt.
      </p>
    </div>
  </div>
  <div class="post__feed__following-user">
    <div class="post__feed__following__user-header">
      <img
        class="user-img"
        src="assets/Img/Users/user-solid-blue.png"
        alt=""
        srcset=""
      />
      <h3><a href="#">User</a></h3>
    </div>

    <div class="post__feed__following__user-bio">
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo,
        nesciunt.
      </p>
    </div>
  </div>
  <div class="post__feed__following-user">
    <div class="post__feed__following__user-header">
      <img
        class="user-img"
        src="assets/Img/Users/user-solid-blue.png"
        alt=""
        srcset=""
      />
      <h3><a href="#">User</a></h3>
    </div>

    <div class="post__feed__following__user-bio">
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo,
        nesciunt.
      </p>
    </div>
  </div>
  <div class="post__feed__following-user">
    <div class="post__feed__following__user-header">
      <img src="assets/Img/Users/user-solid-blue.png" alt="" srcset="" />
      <h3><a href="#">User</a></h3>
    </div>

    <div class="post__feed__following__user-bio">
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo,
        nesciunt.
      </p>
    </div>
  </div>
  <div class="post__feed__following-user">
    <div class="post__feed__following__user-header">
      <img
        class="user-img"
        src="assets/Img/Users/user-solid-blue.png"
        alt=""
        srcset=""
      />
      <h3><a href="#">User</a></h3>
    </div>

    <div class="post__feed__following__user-bio">
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo,
        nesciunt.
      </p>
    </div>
  </div>
</div>