@import "src/colorVariables";
@import "../../../bootstrap.css";

.create__comment-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem 0;
  border-bottom: 1px solid $blue;
}

.create__comment-user-img {
  height: 2rem;
  border: 2px solid $blue;
  border-radius: 50%;
}

.create__comment-input {
  border: 1px solid $blue;
  border-radius: 50px;
  background-color: $light-gray;
  padding: 0.5rem 1rem;

  &:focus {
    box-shadow: 0px 0px 2px 2px $blue;
  }
}
