<div class="create__comment-container">
    <img
      class="create__comment-user-img user-img"
      src="assets/Img/Users/user-solid-blue.png"
      alt=""
    />
  
    <input
      class="create__comment-input"
      type="text"
      placeholder="Write a comment..."
      [(ngModel)]="content"
      (keyup.enter)="onSubmit()"
    />
    <input
      class="create__comment-input"
      type="text"
      placeholder="Post a pic..."
      [(ngModel)]="image"
      (keyup.enter)="onSubmit()"
    />
  </div>
