@import "src/colorVariables";
@import "src/bootstrap";



.container {
    display: flex;
    flex-direction: column;
    width: 50%;
    max-height: auto;
    text-align: center;
    padding-top: 40px;
}

.form-group {
    margin-top: 20px;
}

  label {
    color: $dark-grey;
    margin-bottom: 1rem;
    text-align: left;
  }

    button {
    font-size: 1rem;
    background-color: $dark-grey;
    color: $white;
    padding:0 1rem ;
  }
  img {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  padding-top: 25px;
  padding-bottom: 25px;
  }

.login {
 padding: 0, 20px;
}

    