<div class="feed-wrapper">
  <div class="header-container">
    <header class="header">
      <img src="assets/Img/Logo/rev-logo.png" alt="" />
      <h1 class="header__text">MyRev</h1>
    </header>
  </div>
  <div class="post__feed-container">
    <div class="post__feed-following">
      <h2 class="post__feed__following-header">Following</h2>
      <div class="post__feed__following-users">
        <div class="post__feed__following-user">
          <div class="post__feed__following__user-header">
            <h3><a href="#">User</a></h3>
          </div>

          <p>Some user information</p>
        </div>
        <div class="post__feed__following-user">
          <div class="post__feed__following__user-header">
            <h3><a href="#">User</a></h3>
          </div>

          <p>Some user information</p>
        </div>
        <div class="post__feed__following-user">
          <div class="post__feed__following__user-header">
            <h3><a href="#">User</a></h3>
          </div>

          <p>Some user information</p>
        </div>
        <div class="post__feed__following-user">
          <div class="post__feed__following__user-header">
            <h3><a href="#">User</a></h3>
          </div>

          <p>Some user information</p>
        </div>
        <div class="post__feed__following-user">
          <div class="post__feed__following__user-header">
            <h3><a href="#">User</a></h3>
          </div>

          <p>Some user information</p>
        </div>
        <div class="post__feed__following-user">
          <div class="post__feed__following__user-header">
            <h3><a href="#">User</a></h3>
          </div>

          <p>Some user information</p>
        </div>
        <div class="post__feed__following-user">
          <div class="post__feed__following__user-header">
            <h3><a href="#">User</a></h3>
          </div>

          <p>Some user information</p>
        </div>
        <div class="post__feed__following-user">
          <div class="post__feed__following__user-header">
            <h3><a href="#">User</a></h3>
          </div>

          <p>Some user information</p>
        </div>
        <div class="post__feed__following-user">
          <div class="post__feed__following__user-header">
            <h3><a href="#">User</a></h3>
          </div>

          <p>Some user information</p>
        </div>
      </div>
    </div>
    <div class="post__feed-main">
      <app-createpost></app-createpost>

      <section class="post__feed-section">
        <div class="post__feed__content-container">
          <app-post-item></app-post-item>
        </div>
        <div class="post__feed__content-container">
          <app-post-item></app-post-item>
        </div>
        <div class="post__feed__content-container">
          <app-post-item></app-post-item>
        </div>
      </section>
    </div>
  </div>
  <div class="footer-container">
    <footer class="footer">&copy; This is where the footer will be</footer>
  </div>
</div>
