<div class="feed-wrapper">
  <div class="header-container">
    <header class="header">
      <h1 class="header__text">This will be the Header</h1>
    </header>
  </div>
  <div class="post__feed-container">
    <div class="post__feed-following">
      <h2 class="post__feed__following-header">Following</h2>
      <div class="post__feed__following-users">
        <div class="post__feed__following-user">
          <h3><a href="#">User</a></h3>
          <p>Some user information</p>
        </div>
        <div class="post__feed__following-user">
          <h3><a href="#">User</a></h3>
          <p>Some user information</p>
        </div>
        <div class="post__feed__following-user">
          <h3><a href="#">User</a></h3>
          <p>Some user information</p>
        </div>
        <div class="post__feed__following-user">
          <h3><a href="#">User</a></h3>
          <p>Some user information</p>
        </div>
        <div class="post__feed__following-user">
          <h3><a href="#">User</a></h3>
          <p>Some user information</p>
        </div>
        <div class="post__feed__following-user">
          <h3><a href="#">User</a></h3>
          <p>Some user information</p>
        </div>
        <div class="post__feed__following-user">
          <h3><a href="#">User</a></h3>
          <p>Some user information</p>
        </div>
        <div class="post__feed__following-user">
          <h3><a href="#">User</a></h3>
          <p>Some user information</p>
        </div>
        <div class="post__feed__following-user">
          <h3><a href="#">User</a></h3>
          <p>Some user information</p>
        </div>
      </div>
    </div>
    <div class="post__feed-main">
      <section class="post__feed-section">
        <div class="post__feed__content-container">
          <h3 class="post__feed__content-header">Post feed Content Header</h3>
          <p class="post__feed__content-para">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod est
            nemo nisi exercitationem eveniet, tempora pariatur provident sed
            sapiente. Molestias?
          </p>
        </div>
        <div class="post__feed__content-container">
          <h3 class="post__feed__content-header">Post feed Content Header</h3>
          <p class="post__feed__content-para">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod est
            nemo nisi exercitationem eveniet, tempora pariatur provident sed
            sapiente. Molestias?
          </p>
        </div>
        <div class="post__feed__content-container">
          <h3 class="post__feed__content-header">Post feed Content Header</h3>
          <p class="post__feed__content-para">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod est
            nemo nisi exercitationem eveniet, tempora pariatur provident sed
            sapiente. Molestias?
          </p>
        </div>
      </section>
    </div>
  </div>
  <div class="footer-container">
    <footer class="footer">This is where the footer will be</footer>
  </div>
</div>
