<div class="side__panel-wrapper">
    <div>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed officiis
      repellat ratione. Odit, praesentium esse. Hic quo commodi necessitatibus
      molestias, quod praesentium reprehenderit sunt amet corrupti laborum
      mollitia ipsam tenetur incidunt sapiente optio excepturi culpa eum iste
      tempora pariatur sint non similique provident voluptatum! Nulla est numquam,
      nostrum fugiat animi libero impedit at inventore eaque ad perferendis
      aspernatur expedita facilis! Nemo, labore nisi. Optio autem excepturi
      quaerat rem animi dicta harum quos inventore, cum unde provident, hic
      corporis sed quisquam, illum assumenda reiciendis sequi nisi alias mollitia?
      Eveniet nesciunt reiciendis sequi quas explicabo rem quidem debitis ipsum
      exercitationem quo! Nulla.
    </div>
  </div>
