<div class="side__panel-outer-wrapper">
  <div class="side__panel-wrapper">
    <i class="far fa-times-circle close-side-panel"></i>
    <div class="side__panel__content-container">
      <ul>
        <li>
          <a class="list__item__link" href="#">View Profile</a>
          <span class="underline"></span>
        </li>
        <li>
          <a class="list__item__link" href="#">Edit Profile</a>
          <span class="underline"></span>
        </li>
        <li>
          <a class="list__item__link" href="#">Log Out</a>
          <span class="underline"></span>
        </li>
      </ul>
    </div>
  </div>
</div>
