@import "src/colorVariables";

.user__panel-header-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  & > img {
    max-height: 2rem;
    max-width: 2rem;
    border-color: $white;
  }
}

.user__panel-header {
  font-size: 1.5rem;
  color: $white;
  font-family: "FuturaHeavy";
  text-align: center;
}
