/*========= Primary Colors =========*/
$orange: rgb(242, 105, 38);
$white: rgb(255, 255, 255);
$dark-grey: rgb(72, 76, 86);
/*========= Secondary Colors =========*/
$blue: rgb(115, 165, 194);
$yellow: rgb(253, 181, 21);
$light-gray: rgb(185, 185, 186);

/*========= Box Shadow =========*/
$light-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
$medium-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
