/*========= Primary Colors =========*/
$orange: rgb(242, 105, 38);
$white: rgb(255, 255, 255);
$dark-grey: rgb(72, 76, 86);
/*========= Secondary Colors =========*/
$blue: rgb(115, 165, 194);
$yellow: rgb(253, 181, 21);
$light-gray: rgb(185, 185, 186);
