@font-face {
  font-family: FuturaBook;
  src: url(assets/fonts/Futura/Futura-Std-Book.otf) format("opentype");
}

@font-face {
  font-family: FuturaHeavy;
  src: url(assets/fonts/Futura/Futura-Std-Heavy.otf) format("opentype");
}

@font-face {
  font-family: FuturaMedium;
  src: url(assets/fonts/Futura/Futura-Std-Medium.otf) format("opentype");
}
