<div class="container" *ngIf="currentUser; else loggedOut">
    <div>
        <img [src]="currentUser.photo ? currentUser.photo : 'https://www.w3schools.com/howto/img_avatar.png'" alt="Profile Photo">
    </div>
    <header>
        <h3>
            <strong>{{ currentUser.firstName }} {{currentUser.middleName}} {{currentUser.lastName}}</strong>
        </h3>
    </header>
    <p>
        <strong>Job Title:</strong>
        {{ currentUser.jobTitle }}
    </p>
    <p>
        <strong>Email:</strong>
        {{ currentUser.email }}
    </p>
    <p>
        <strong>Age:</strong>
        {{ currentUser.age }}
    </p>
    <p>
        <strong>Gender:</strong>
        {{ currentUser.gender }}
    </p>
</div>
  
<ng-template #loggedOut>
Please login.
</ng-template>